.THIS .back-theme{
   /*background: linear-gradient(to right, rgba(95,186,125,0.9) 0%, rgba(16,138,236,0.9) 100%);*/
    background:linear-gradient(to right, #2980B9 33%, #6DD5FA 66%,  #f3f2f0 100%);
}
.THIS .row {
    margin-bottom: 1.5em;
    margin-left: -5px;
    margin-right: -5px;
}
.THIS .btn-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
        margin: 3px !important;
}
.THIS .btn-sm{
        font-size: 10px !important;
       color: #3ea6e6 !important;
    background-color: white !important;
    border-color: #3ba5e8 !important;
}
.THIS .btn {
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.THIS .btn-default {
    color: #fff;
    background-color: #35a2eb;
    border-color: #ccc;
    margin: 3px;
}

.THIS .panel-body {
    font-size:14px;
}
.THIS .panel-collapse collapse in{
    border: 0.5px solid #f3f2f0;
    border-radius: 0em; 
    margin-top: 7px;
}
 .THIS #tableHRS .th  {
    font-weight:500;
}
.THIS #tableHRS .table-striped>tr:nth-child(odd){
   background-color:#f3f2f2;
}
.THIS .a{
    text-decoartion:none;
}

/*Accordion*/
.THIS #accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
.THIS #accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
.THIS #accordion .panel-heading {
    /*border-radius: 30px;*/
    padding: 0;
}
.THIS #accordion .panel-title a {
    height: 2em;
    /*background: linear-gradient(to right, rgba(95,186,125,0.9) 0%, rgba(16,138,236,0.9) 100%);*/
    background: linear-gradient(to right, #2980B9 33%, #6DD5FA 66%, #f3f2f0 100%);
    border-radius: 0px;
    color: white ;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px 12px 30px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.THIS #accordion .panel-title a.collapsed {
    background: #f3f2f0 none repeat scroll 0 0;
    border: 0px solid #f3f2f0;
    color:  black;
}
.THIS #accordion .panel-title a::after, .THIS #accordion .panel-title a.collapsed::after {
    height: 2em;
    background: #2980B9;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
    color: #fff;
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    height: 42px;
    width: 42px;
    left: -20px;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: -5px;
    transition: all 0.3s ease 0s;
   
}
.THIS #accordion .panel-title a.collapsed::after {
    background: #f3f2f0 none repeat scroll 0 0;
    border: 0.7px solid #ADA996;
    box-shadow: none;
    color: black;
    content: "\e080";
}
.THIS #accordion .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 20px 25px 10px 9px;
    position: relative;
}
.THIS #accordion .panel-body p {
    border-left: 1px dashed #8c8c8c;
    padding-left: 25px;
}

.THIS #selectDevice .slds-scope .slds-select_container .slds-select {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    padding-left: .5rem !important;
    padding-right: 1.5rem !important;
    height: 31px !important;
}
.THIS #selectDevice .slds-scope .slds-select_container {
    position: relative !important;
    width: 55% !important;;
    margin-left: 11% !important;
}
.THIS .changeMe {
    display:block;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}